#graph-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
body{
    
    background-image: url("../Pictogrammers-Material-Map-Map-marker-path.512.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.node {
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: lightblue;
    cursor: pointer;
}

.blocked {
    background-color: black;
}

.path {
    background-color: yellow;
}
